Recommending @language and @dir terms

§2 recommends that usage of the `@language` and `@dir` JSON terms. However, the first is a JSON-LD keyword; the second isn't but, in a later version of JSON-LD, it may become one. On the other hand, JSON-LD is evolving in a direction to make it easy to have some sort of a "shell" specified in JSON-LD (e.g., an annotation structure) which explicitly includes an extension point where arbitrary JSON can be put, which is not supposed to be interpreted by a JSON-LD processor. I think it would be bad practice to include a JSON-LD keyword into part of the data that is explicitly _not_ JSON-LD; on the other hand, if the producer uses this recommendation then this is what we would get.

Better to avoid possible clash and use a different character to replace `@`. (Do not use `$` either, because that is a character used by JSON Schemas...). 

I've held off on fixing the best practices for a few days and these two you identify are just not the right thing. I tend to think we have some BPs and then we have some "proposed actions". The proposed action here would be "add `@dir` to `@context` in JSON-LD" as a reserved keyword or, failing that, recommend its use as a "de facto" keyword. That still leaves non-JSON-LD-based document formats, for which we should have a BP too. Stay tuned.

> "add `@dir` to `@context` in JSON-LD"  as a reserved keyword or…

that will not happen (was discussed in the JSON-LD WG): JSON-LD serves, essentially, as a serialization of RDF. Because this keywords is meaningless in RDF, the group has decided not to add it to JSON-LD

> …failing that, recommend its use as a "de facto" keyword.

Please do not recommend this, because it will fail. Please consider this:

```json
{
  "@context" : {
    "@vocab" : "http://example.org/"
  },
  "someterm" : {
    "@value" : "Bonjour la France !",
    "@language": "fr"
  }
}
```

is the valid idiom in JSON-LD to use a string with a valid language setting (see also the [playground example](https://tinyurl.com/y57a4yrb)). The natural extension of this would be:

```json
{
  "@context" : {
    "@vocab" : "http://example.org/"
  },
  "someterm" : {
    "@value" : "Bonjour la France !",
    "@language": "fr",
    "@dir" : "ltr"
  }
}
```

However, this is _not_ valid JSON-LD; the relevant [playground example](https://tinyurl.com/yxnej45w) produces an error:

> jsonld.SyntaxError: Invalid JSON-LD syntax; an element containing `"@value"` may only have an `"@index"` property and at most one other property which can be `"@type"` or `"@language"`.

which is exactly what should happen.

I think we have to acknowledge the fact that _it is not possible to assign a base direction on a single term in JSON-LD as of today_, and the document should not recommend ways to hack around this. In other words, you should, in my view, remove JSON-LD from this equation and hope that the RDF community will settle this at some point. The only thing that _may_ be possible is to introduce a global value for the base direction with some application-specific URL and understood by a specific application only (not by any JSON-LD processor).


Hello @aphillips and @iherman !

Let me quote from [https://w3c.github.io/string-meta/#best-practices-recommendations-and-gaps](https://w3c.github.io/string-meta/#best-practices-recommendations-and-gaps);

> **Schema languages, such as the RDF suite of specifications, need an in-built mechanism** for associating base direction metadata with natural language string values.

> There is no built-in attribute for base direction in [JSON-LD]. There **needs to be** a corresponding built-in attribute (e.g. an "dir") or de facto convention for indicating document-level base direction.

Regarding the quotes above I must say there is **no need** for any of this! It is perfectly fine declaring the direction and language in HTML as it is already stated on [https://www.w3.org/International/techniques/authoring-html#textprocessing](https://www.w3.org/International/techniques/authoring-html#textprocessing).

Below is a HTML5+RDFa example:
`<span lang="en" property="schema:name">World Wide Web</span>` and `<span lang="ar-arb" dir="rtl" property="schema:alternateName">شبكة عنكبوتية عالمية</span>` **which is the correct way to declare direction and language in HTML** will validates at [https://www.w3.org/2012/pyRdfa/Validator.html](https://www.w3.org/2012/pyRdfa/Validator.html) as `schema:name "World Wide Web"@en,` and `schema:alternateName "شبكة عنكبوتية عالمية"@ar-arb;`

**Wrongfully declaring ltr instead of rtl as base direction in HTML on Arabic text** `<span lang="ar-arb" dir="ltr" property="schema:alternateName">شبكة عنكبوتية عالمية</span>` will naturally not passing in the [HTML Validator](https://validator.w3.org/) meanwhile it is still **passing RDFa validation** as `schema:alternateName "شبكة عنكبوتية عالمية"@ar-arb ;`. 

This means that need to rewrite the whole [string-meta](https://github.com/w3c/string-meta) document and references to JSON-DL and RDF needs to be removed.


@BigBlueHat I just found your reference to [https://github.com/w3c/json-ld-syntax/issues/11](https://github.com/w3c/json-ld-syntax/issues/11) and it is useful, specially the comment of @gkellogg where he noted clearly that: 
>  **RDF does not have any means (alas!) to express text direction.**

I don't understand why this is still a discussion and why some of you keep pushing for something which is totally unnecessary. Will be nice to close all discussion regarding this for once and for all.
. 

Hello @aphillips and @iherman !

Let me quote from [https://w3c.github.io/string-meta/#best-practices-recommendations-and-gaps](https://w3c.github.io/string-meta/#best-practices-recommendations-and-gaps);

> **Schema languages, such as the RDF suite of specifications, need an in-built mechanism** for associating base direction metadata with natural language string values.

> There is no built-in attribute for base direction in [JSON-LD]. There **needs to be** a corresponding built-in attribute (e.g. an "dir") or de facto convention for indicating document-level base direction.

Regarding the quotes above I must say there is **no need** for any of this! It is perfectly fine declaring the direction and language in HTML as it is already stated on [https://www.w3.org/International/techniques/authoring-html#textprocessing](https://www.w3.org/International/techniques/authoring-html#textprocessing).

Below is a HTML5+RDFa example:
`<span lang="en" property="schema:name">World Wide Web</span>` and `<span lang="ar-arb" dir="rtl" property="schema:alternateName">شبكة عنكبوتية عالمية</span>` **which is the correct way to declare direction and language in HTML** will validates at [https://www.w3.org/2012/pyRdfa/Validator.html](https://www.w3.org/2012/pyRdfa/Validator.html) as `schema:name "World Wide Web"@en,` and `schema:alternateName "شبكة عنكبوتية عالمية"@ar-arb;`

**Wrongfully declaring ltr instead of rtl as base direction in HTML on Arabic text** `<span lang="ar-arb" dir="ltr" property="schema:alternateName">شبكة عنكبوتية عالمية</span>` will naturally not passing in the [HTML Validator](https://validator.w3.org/) meanwhile it is still **passing in the [RDFa validator](https://www.w3.org/2012/pyRdfa/Validator.html)** as follows `schema:alternateName "شبكة عنكبوتية عالمية"@ar-arb;`. 

This means that need to rewrite the whole [string-meta](https://github.com/w3c/string-meta) document and references to JSON-DL and RDF needs to be removed. 

@BigBlueHat I just found your reference to [https://github.com/w3c/json-ld-syntax/issues/11](https://github.com/w3c/json-ld-syntax/issues/11) and it is useful, specially the comment of @gkellogg who is also by the way tries to push dir for JSON noted clearly regarding RDF that: 
>  **RDF does not have any means (alas!) to express text direction.**

I don't understand why this is still a discussion and why some of you keep pushing for something which is totally unnecessary. Will be nice to close all discussion regarding this for once and for all. 

I recommending to delete this w3c draft. 

@zoltankonder Use of HTML within a document is one mechanism that can be used to convey language and base direction of some content. I have no problem with a specification requiring the use of HTML markup for the purposes of conveying language and direction metadata, should that be a reasonable solution in that specification's context.

However, use of HTML presents difficulties when the content being conveyed doesn't originate in an HTML context or when it is not being consumed in an HTML context. There are many such data sources and many such applications on the Web. The use of unconstrained HTML might also present certain problems, even when both the producer and consumer are capable of processing HTML.

The string-meta document is not meant to cover just a single specification's needs. It provides documentation to a number of problems found in the wild (do you disagree with the use cases?) as well as documenting a number of approaches to be considered (your preferred approaches appear to be in sections 4.5 and 4.6??)

I don't agree with your analysis, but I'm open to arguments about what the best practices should be. I do favor the build-out of additional standardized metadata fields, because I think that would provide the most effective solution long term. 

Deleting this document, however, is an unreasonable expectation: even if my personal preferences are not adopted, base direction and language metadata are still a problem and documenting the best practices (even they turn out to be ones I don't currently agree with) is a useful outcome.

As an aside, the language tag `ar-arb` may not have the meaning you think it does. Did you mean to include a script subtag (e.g. `ar-Arab`)? "extlang" subtags (such as `arb`) should generally be avoided.

JSON-LD's introduction of `@dir` is blocked by our reliance on a round-tripping-to-RDF requirement. However, I wouldn't throw it out its usage in the document entirely!

JSON-LD does provide the ability to properly state that one is using HTML in a string because it provides the ability to datatype strings--which is something "plain JSON" lacks.

For example, if someone chooses to use HTML, it's possible to use the JSON-LD `@context` to declare that--so a processor at least knows they're getting HTML without guessing (as they'd have to in JSON):
```json
{
  "@context": {
    "@language": "en",
    "title": "http://purl.org/dc/elements/1.1/title",
    "description": {
      "@id": "http://example.org/descriptionInHTML",
      "@type": "rdfs:HTML"
    }
  },
  "name": "My Web Page about the WWW",
  "description": "The <span lang=\"en\" property=\"schema:name\">World Wide Web</span> or <span lang=\"ar-arb\" dir=\"rtl\" property=\"schema:alternateName\">شبكة عنكبوتية عالمية</span> is a ...."
}
```

That would at least allow someone to know that the `description` key's contents contain something more than just a string.

@aphillips Regarding your comment about the language subtag `ar-arb` I was truly surprised! 
Let me explain why.

In the Language Subtag Registry at the [https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry](https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry) URL you will find the following information: 
```
Type: language
Subtag: arb
Description: Standard Arabic
Added: 2009-07-29
Macrolanguage: ar
```

Wondering a bit more on your `ar-Arab` I found that while `Arab` is valid according to IANA is worth noting that `ar-Arab` is **not a language**:
```
Type: script
Subtag: Arab
Description: Arabic
Added: 2005-10-16
```
Below you can see why **your** `ar-Arab` **proposal or correction is strongly discouraged**!: 

At the [https://www.w3.org/International/articles/language-tags/#script](https://www.w3.org/International/articles/language-tags/#script) URL is stated that: 
> **"Actually, many language subtag entries in the registry strongly discourage the use of script tags by including a Suppress script field."**

```
Type: language
Subtag: ar
Description: Arabic
Added: 2005-10-16
Suppress-Script: Arab
Scope: macrolanguage
```
Let me also remind you to yourself by quoting your 10 year old statement from the [https://www.w3.org/International/articles/language-tags/#script](https://www.w3.org/International/articles/language-tags/#script) URL: 

> [[RFC 4646]](https://tools.ietf.org/html/rfc4646) co-author, **Addison Phillips**, writes, **"For virtually any content that does not use a script tag today, it remains the best practice not to use one in the future"**.

Addison Phillips since you are the I18n Core Working Group Chair at the World Wide Web Consortium I would expect from you more than such a mistake where you contradict yourself!  

In the other hand @aphillips I'm happy to hear that you "have no problem with a specification requiring the use of HTML markup for the purposes of conveying language and direction metadata". I willing to help you to review your latest [[RFC 5646]](https://tools.ietf.org/html/rfc5646) and recommend it to be on the Standards Track. I would include reference to [[RFC 2070]](https://tools.ietf.org/html/rfc2070#section-4.2) minimum. 

@BigBlueHat That is quiet outrageous that you suggesting to include HTML in JSON-DL (JavaScript Object Notation for Linked Data)! Do I really need to explain why? 

I highly recommend to read about the `dir` attribute in the [HTML 5.2 W3C Recommendation](https://www.w3.org/TR/html52/dom.html#the-dir-attribute) 

@aphillips Regarding your comment about the language subtag `ar-arb` I was truly surprised! 
Let me explain why.

In the Language Subtag Registry at the [https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry](https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry) URL you will find the following information: 
```
Type: language
Subtag: arb
Description: Standard Arabic
Added: 2009-07-29
Macrolanguage: ar
```

Wondering a bit more on your `ar-Arab` I found that while `Arab` is valid according to IANA is worth noting that `ar-Arab` is **not a language**:
```
Type: script
Subtag: Arab
Description: Arabic
Added: 2005-10-16
```
Below you can see why **your** `ar-Arab` **proposal or correction is strongly discouraged**!: 

At the [https://www.w3.org/International/articles/language-tags/#script](https://www.w3.org/International/articles/language-tags/#script) URL is stated that: 
> **"Actually, many language subtag entries in the registry strongly discourage the use of script tags by including a Suppress script field."**

```
Type: language
Subtag: ar
Description: Arabic
Added: 2005-10-16
Suppress-Script: Arab
Scope: macrolanguage
```
Let me also remind you to yourself by quoting your 10 year old statement from the [https://www.w3.org/International/articles/language-tags/#script](https://www.w3.org/International/articles/language-tags/#script) URL: 

> [[RFC 4646]](https://tools.ietf.org/html/rfc4646) co-author, **Addison Phillips**, writes, **"For virtually any content that does not use a script tag today, it remains the best practice not to use one in the future"**.

Addison Phillips since you are the I18n Core Working Group Chair at the World Wide Web Consortium I would expect from you more than such a mistake where you contradict yourself!  

In the other hand @aphillips I'm happy to hear that you "have no problem with a specification requiring the use of HTML markup for the purposes of conveying language and direction metadata". I willing to help you to review your latest [[RFC 5646]](https://tools.ietf.org/html/rfc5646) and recommend it to be on the Standards Track. I would include reference to [[RFC 2070]](https://tools.ietf.org/html/rfc2070#section-4.2) minimum. 

@BigBlueHat That is quiet outrageous that you suggesting to include HTML in JSON-LD (JavaScript Object Notation for Linked Data)! Do I really need to explain why? 

I highly recommend to read about the `dir` attribute in the [HTML 5.2 W3C Recommendation](https://www.w3.org/TR/html52/dom.html#the-dir-attribute) 

@aphillips Regarding your comment about the language subtag `ar-arb` I was truly surprised! 
Let me explain why.

In the Language Subtag Registry at the [https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry](https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry) URL you will find the following information: 
```
Type: language
Subtag: arb
Description: Standard Arabic
Added: 2009-07-29
Macrolanguage: ar
```

Wondering a bit more on your `ar-Arab` I found that while `Arab` is valid according to IANA is worth noting that `Arab` is **not a language**:
```
Type: script
Subtag: Arab
Description: Arabic
Added: 2005-10-16
```
Below you can see why **your** `ar-Arab` **proposal or correction is strongly discouraged**!: 

At the [https://www.w3.org/International/articles/language-tags/#script](https://www.w3.org/International/articles/language-tags/#script) URL is stated that: 
> **"Actually, many language subtag entries in the registry strongly discourage the use of script tags by including a Suppress script field."**

```
Type: language
Subtag: ar
Description: Arabic
Added: 2005-10-16
Suppress-Script: Arab
Scope: macrolanguage
```
Let me also remind you to yourself by quoting your 10 year old statement from the [https://www.w3.org/International/articles/language-tags/#script](https://www.w3.org/International/articles/language-tags/#script) URL: 

> [[RFC 4646]](https://tools.ietf.org/html/rfc4646) co-author, **Addison Phillips**, writes, **"For virtually any content that does not use a script tag today, it remains the best practice not to use one in the future"**.

Addison Phillips since you are the I18n Core Working Group Chair at the World Wide Web Consortium I would expect from you more than such a mistake where you contradict yourself!  

In the other hand @aphillips I'm happy to hear that you "have no problem with a specification requiring the use of HTML markup for the purposes of conveying language and direction metadata". I willing to help you to review your latest [[RFC 5646]](https://tools.ietf.org/html/rfc5646) and recommend it to be on the Standards Track. I would include reference to [[RFC 2070]](https://tools.ietf.org/html/rfc2070#section-4.2) minimum. 

@BigBlueHat That is quiet outrageous that you suggesting to include HTML in JSON-LD (JavaScript Object Notation for Linked Data)! Do I really need to explain why? 

I highly recommend to read about the `dir` attribute in the [HTML 5.2 W3C Recommendation](https://www.w3.org/TR/html52/dom.html#the-dir-attribute) 

@zoltankonder excuse me but your comments read too much into my reply. I did not recommend the script subtag: I asked if you had intended it.

Perhaps you should closely read BCP47? My point was that your use of an extlang is unusual and not recommended. A script subtag is also not recommended for Arabic: you need hardly go back ten years. I wrote text to that exact effect in string-meta itself.

In any event, your arguments avoid addressing my response directly and seem to misunderstand @BigBlueHat's as well. Your tone, I might note, is confrontational, which is unnecessary. Please make constructive suggestions. 

@aphillips Your point about my use of an extlang is not welcome. I made that very clear. The use of extlang is perfectly fine even recommended to distinguish between languages. 

> I wrote text to that exact effect in string-meta itself.

It's feels like that you have conflict of interest from Amazon to W3C that's why you trying to push this draft.

I don't misunderstand @BigBlueHat at all! He straight proposed to build complete webpages with JSON-LD and that is something what W3C must strongly reject fast as possible!

@r12a `<noscript><!--- Can you take a look to this issue?  ---></noscript>`

Lastly we can all agree (at least me, @gkellogg, @iherman and @BigBlueHat) that neither RDF nor JSON-LD support the `dir` attribute and so your [string-meta](https://w3c.github.io/string-meta/) W3C draft must be throw out! 

@aphillips Your point about my use of an extlang is not welcome. I made that very clear. The use of extlang is perfectly fine even recommended to distinguish between languages. 

> I wrote text to that exact effect in string-meta itself.

It's feels like that you have conflict of interest from Amazon to W3C that's why you trying to push this draft.

I don't misunderstand @BigBlueHat at all! He straight proposed to build complete webpages with JSON-LD and that is something what W3C must strongly reject fast as possible!

@r12a `<noscript><!--- Can you take a look to this issue  ---> ? </noscript>`

Lastly we can all agree (at least me, @gkellogg, @iherman and @BigBlueHat) that neither RDF nor JSON-LD support the `dir` attribute and so your [string-meta](https://w3c.github.io/string-meta/) W3C draft must be throw out! 

@aphillips Your point about my use of an extlang is not welcome. I made that very clear. The use of extlang is perfectly fine even recommended to distinguish between languages. 

> I wrote text to that exact effect in string-meta itself.

It's feels like that you have conflict of interest from Amazon to W3C that's why you trying to push this draft.

One of your previous comment:

>  base direction and language metadata are still a problem

Let me address that comment. **No! Base direction and language metadata is not a problem in HTML!** You have problem because your string-meta is useless for the World Wide Web!  

I don't misunderstand @BigBlueHat at all! He straight proposed to build complete webpages with JSON-LD and that is something what W3C must strongly reject fast as possible!

@r12a `<noscript><!--- Can you take a look to this issue  ---> ? </noscript>`

Lastly we can all agree (at least me, @gkellogg, @iherman and @BigBlueHat) that neither RDF nor JSON-LD support the `dir` attribute and so your [string-meta](https://w3c.github.io/string-meta/) W3C draft must be throw out! 

@aphillips Your point about my use of an extlang is not welcome. I made that very clear. The use of extlang is perfectly fine even recommended to **distinguish between languages**.  

> I wrote text to that exact effect in string-meta itself.

It's feels like that you have conflict of interest from Amazon to W3C that's why you trying to push this draft!

One of your previous comment:

>  base direction and language metadata are still a problem

Let me address that comment. **No! Base direction and language metadata is not a problem in HTML!** You have problem because your string-meta is useless for the World Wide Web!  

I don't misunderstand @BigBlueHat at all! He straight proposed to build complete webpages with JSON-LD and that is something what W3C must strongly reject fast as possible!

@r12a `<noscript><!--- Can you take a look to this issue  ---> ? </noscript>`

Lastly we can all agree (at least me, @gkellogg, @iherman and @BigBlueHat) that neither RDF nor JSON-LD support the `dir` attribute and so your [string-meta](https://w3c.github.io/string-meta/) W3C draft must be throw out! 

@aphillips Your point about my use of an extlang is not welcome. I made that very clear. The use of extlang is perfectly fine even recommended to **distinguish between languages**.  

> I wrote text to that exact effect in string-meta itself.

It's feels like that you have conflict of interest from Amazon to W3C that's why you trying to push this draft!

One of your previous comment:

>  base direction and language metadata are still a problem

Let me address that comment. **No! Base direction and language metadata is not a problem in HTML!** You have problem because your string-meta is useless for the World Wide Web!  

I don't misunderstand @BigBlueHat at all! He straight proposed to build complete webpages with JSON-LD and that is something what W3C must strongly reject fast as possible!

@r12a `<noscript><!--- Can you take a look to this issue  ---> ? </noscript>`

Lastly we can all agree (at least me, @gkellogg, @iherman and @BigBlueHat) that neither RDF nor JSON-LD support the `dir` attribute and so your [string-meta](https://w3c.github.io/string-meta/) W3C draft must be thrown out! 

@zoltankonder please do not misrepresent me.

> Lastly we can all agree (at least me, @gkellogg, @iherman and @BigBlueHat) that neither RDF nor JSON-LD support the dir attribute and so your string-meta W3C draft must be thrown out!

Indeed, RDF does not include the `dir` attribute (more specifically, the base direction of a Literal cannot be specified in RDF) and, hence, this cannot be properly specified in JSON-LD either. But I do strongly disagree with your conclusion whereby "your string-meta W3C draft must be thrown out!". Please read the draft more thoroughly, and you will see that the draft is _not_ aimed at JSON-LD only; actually, the emphasis is on JSON at large rather than JSON-LD. In other words, the draft is _very_ useful for JSON based specifications that are not bound to JSON-LD/RDF.

@iherman All I seen in this issue what you opened that you are in the playground playing with JSON-LD and reading the W3C draft [string-meta](https://w3c.github.io/string-meta) document I see under various issue sections where the content clearly related to RDF and/or JSON-LD. 

Let me quote again from [https://w3c.github.io/string-meta/#best-practices-recommendations-and-gaps](https://w3c.github.io/string-meta/#best-practices-recommendations-and-gaps);

> **Schema languages, such as the RDF suite of specifications, need an in-built mechanism** for associating base direction metadata with natural language string values.

> There is no built-in attribute for base direction in [JSON-LD]. There **needs to be** a corresponding built-in attribute (e.g. an "dir") or de facto convention for indicating document-level base direction.

If the document is going to be stripped off from all references to RDF and JSON-LD and suggestions like the above quotes than I would have no problem. 

The title of the document must be changed from ~~Requirements for Language and Direction Metadata in Data Formats~~ to **Recommendation for Language and Direction Metadata in JSON**!

If this document is intended only for the use in JSON than that must be made very clear! 

@iherman All I seen in this issue what you opened is that you are in the playground playing with JSON-LD and by reading the W3C draft [string-meta](https://w3c.github.io/string-meta) document I see under various issue sections where the content clearly related to RDF and/or JSON-LD. 

Let me quote again from [https://w3c.github.io/string-meta/#best-practices-recommendations-and-gaps](https://w3c.github.io/string-meta/#best-practices-recommendations-and-gaps);

> **Schema languages, such as the RDF suite of specifications, need an in-built mechanism** for associating base direction metadata with natural language string values.

> There is no built-in attribute for base direction in [JSON-LD]. There **needs to be** a corresponding built-in attribute (e.g. an "dir") or de facto convention for indicating document-level base direction.

If the document is going to be stripped off from all references to RDF and JSON-LD and suggestions like the above quotes than I would have no problem. 

The title of the document must be changed from ~~Requirements for Language and Direction Metadata in Data Formats~~ to **Recommendation for Language and Direction Metadata in JSON**!

If this document is intended only for the use in JSON than that must be made very clear! 

@iherman All I seen in this issue what you opened is that you are in the playground playing with JSON-LD and by reading the W3C draft [string-meta](https://w3c.github.io/string-meta) document I see under various issue sections that the content clearly related to RDF and/or JSON-LD. 

Let me quote again from [https://w3c.github.io/string-meta/#best-practices-recommendations-and-gaps](https://w3c.github.io/string-meta/#best-practices-recommendations-and-gaps);

> **Schema languages, such as the RDF suite of specifications, need an in-built mechanism** for associating base direction metadata with natural language string values.

> There is no built-in attribute for base direction in [JSON-LD]. There **needs to be** a corresponding built-in attribute (e.g. an "dir") or de facto convention for indicating document-level base direction.

If the document is going to be stripped off from all references to RDF and JSON-LD and suggestions like the above quotes than I would have no problem. 

The title of the document must be changed from ~~Requirements for Language and Direction Metadata in Data Formats~~ to **Recommendation for Language and Direction Metadata in JSON**!

If this document is intended only for the use in JSON than that must be made very clear! 

@iherman All I seen in this issue what you opened is that you are in the playground playing with JSON-LD and by reading the W3C draft [string-meta](https://w3c.github.io/string-meta) document I see under various issue sections that the content clearly related to RDF and/or JSON-LD. 

Let me quote again from [https://w3c.github.io/string-meta/#best-practices-recommendations-and-gaps](https://w3c.github.io/string-meta/#best-practices-recommendations-and-gaps);

> **Schema languages, such as the RDF suite of specifications, need an in-built mechanism** for associating base direction metadata with natural language string values.

> There is no built-in attribute for base direction in [JSON-LD]. There **needs to be** a corresponding built-in attribute (e.g. an "dir") or de facto convention for indicating document-level base direction.

If the document is going to be stripped off from all references to RDF and JSON-LD and suggestions like the above quotes deleted from it than I would have no problem. 

The title of the document must be changed from ~~Requirements for Language and Direction Metadata in Data Formats~~ to **Recommendation for Language and Direction Metadata in JSON**!

If this document is intended only for the use in JSON than that must be made very clear! 

@iherman All I seen in this issue what you opened is that you are in the playground playing with JSON-LD and by reading the W3C draft [string-meta](https://w3c.github.io/string-meta) document I see under various issue sections where the content clearly related to RDF and/or JSON-LD. 

Let me quote again from [https://w3c.github.io/string-meta/#best-practices-recommendations-and-gaps](https://w3c.github.io/string-meta/#best-practices-recommendations-and-gaps);

> **Schema languages, such as the RDF suite of specifications, need an in-built mechanism** for associating base direction metadata with natural language string values.

> There is no built-in attribute for base direction in [JSON-LD]. There **needs to be** a corresponding built-in attribute (e.g. an "dir") or de facto convention for indicating document-level base direction.

If the document is going to be stripped off from all references to RDF and JSON-LD and suggestions like the above quotes deleted from it than I would have no problem. 

The title of the document must be changed from ~~Requirements for Language and Direction Metadata in Data Formats~~ to **Recommendation for Language and Direction Metadata in JSON**!

If this document is intended only for the use in JSON than that must be made very clear! 

@iherman All I seen in this issue what you opened is that you are in the playground playing with JSON-LD and by reading the W3C draft [string-meta](https://w3c.github.io/string-meta) document I see  various issue sections where the content clearly related to RDF and/or JSON-LD. 

Let me quote again from [https://w3c.github.io/string-meta/#best-practices-recommendations-and-gaps](https://w3c.github.io/string-meta/#best-practices-recommendations-and-gaps);

> **Schema languages, such as the RDF suite of specifications, need an in-built mechanism** for associating base direction metadata with natural language string values.

> There is no built-in attribute for base direction in [JSON-LD]. There **needs to be** a corresponding built-in attribute (e.g. an "dir") or de facto convention for indicating document-level base direction.

If the document is going to be stripped off from all references to RDF and JSON-LD and suggestions like the above quotes deleted from it than I would have no problem. 

The title of the document must be changed from ~~Requirements for Language and Direction Metadata in Data Formats~~ to **Recommendation for Language and Direction Metadata in JSON**!

If this document is intended only for the use in JSON than that must be made very clear! 

DELETE THIS ISSUE AND REMOVE ALL MENTIONS FROM IT OR I WALK UP TO YOU WITH AN ASSAULT WEAPON AND SHOOT ALL OF YOU ONE BY ONE! 

Yeah, kill the motherfuckers! I also recommend to delete the issue before this escalates! We have seen your code of conduct and we are loading our weapons to take a surprise visit to W3C. You are all disgusting pigs sucking up big corporations and developing bullshit! Delete the issue motherfucker! 

https://www.youtube.com/watch?v=BczhT1ByrXA

DELETE THIS ISSUE BEFORE YOU ALL GET A BULLET IN THE HEAD! 

Delete the issue you fucking disgusting pig! Delete the issue you piece of shit! 

@aphillips you going to die fat head! Your brain will be on the floor and kill all your family also! Delete the issue before it's too late! 

DELETE THE FUCKING https://github.com/w3c/string-meta/issues/27 ISSUE BEFORE I SHOT YOU IN THE FUCKING HEAD! 